{% extends 'base.html' %}

{% block title %}設定{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">ユーザー情報変更</h2>


    <div class="card mx-auto mb-4" style="max-width: 400px;">
        <div class="card-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                 <!-- 現在の名前 -->
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">現在の名前</label>
                    {{ form.first_name }}
                </div>

                <!-- 新しい名前を入力 -->
                <div class="mb-3">
                    <label for="id_new_first_name" class="form-label">新しい名前</label>
                    {{ form.new_first_name }}
                </div>

                <!-- 現在のメールアドレス -->
                <div class="mb-3">
                    <label for="id_email" class="form-label">現在のメールアドレス</label>
                    {{ form.email }}
                </div>

                <!-- 新しいメールアドレスを入力 -->
                <div class="mb-3">
                    <label for="id_new_email" class="form-label">新しいメールアドレス</label>
                    {{ form.new_email }}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4 py-2" style="width: 150px;">変更する</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}